.idea/
project/notebooks/.ipynb_checkpoints
project/.bash_history
notebooks/.ipynb_checkpoints/
notebooks/*_answers.ipynb
notebooks/variables/.ipynb_checkpoints/
notebooks/examples
bin/
lib/
pyvenv.cfg
lib64
etc/
share/
notebooks/variables/.DS_Store
scripts/.DS_Store
scripts/solar_system/.DS_Store
env/
log.txt
.DS_Store
scripts/shape/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_3_gezondheidszorg/rest_server/medisch_centrum_randstad/db.sqlite3
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/medisch_centrum_randstad/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/management/commands/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/__pycache__
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/migrations/0001_initial.py
projects/proj_gezondheidszorg/rest_server/medisch_centrum_randstad/rest_api/favicon/site.webmanifest
practica/week1/.ipynb_checkpoints/
practica/pics/.ipynb_checkpoints/mars.nasa-checkpoint.jpg
practica/week1/booleans_with_solutions.ipynb
practica/week1/numbers_with_solutions.ipynb
practica/week1/strings_with_solutions.ipynb
practica/week2/dictionaries_with_solutions.ipynb
practica/pip/.ipynb_checkpoints/requirements-checkpoint.txt
practica/week2/.ipynb_checkpoints/
scripts/pytorch/backprop_example.py
practica/week2/.ipynb_checkpoints/dictionaries-checkpoint.ipynb
practica/csv/.ipynb_checkpoints/marslander-checkpoint.csv
practica/week2/.ipynb_checkpoints/dictionaries-checkpoint.ipynb
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
practica/week2/groepsopdrachten/requests_demo.ipynb
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
notebooks/numpy/.ipynb_checkpoints/numpy_opdracht1-checkpoint.ipynb
pics/.ipynb_checkpoints/jupiter_scaled-checkpoint.jpg
pics/.ipynb_checkpoints/mercury_scaled-checkpoint.jpg
pics/.ipynb_checkpoints/mercury-checkpoint.jpg
pics/.ipynb_checkpoints/neptune_scaled-checkpoint.jpg
pics/.ipynb_checkpoints/neptune-checkpoint.jpg
pics/.ipynb_checkpoints/saturn_scaled-checkpoint.jpg
pics/.ipynb_checkpoints/saturn-checkpoint.jpg
pics/.ipynb_checkpoints/uranus_scaled-checkpoint.jpg
pics/.ipynb_checkpoints/uranus-checkpoint.jpg
pics/.ipynb_checkpoints/venus_scaled-checkpoint.jpg
pics/.ipynb_checkpoints/venus-checkpoint.jpg
practica/week2/.ipynb_checkpoints/sets-checkpoint.ipynb
csv/.ipynb_checkpoints/planets-checkpoint.csv
practica/pics/.ipynb_checkpoints/banner-checkpoint.PNG
practica/pics/.ipynb_checkpoints/miw-checkpoint.PNG
practica/pics/.ipynb_checkpoints/pioneer-checkpoint.jpg
practica/pics/.ipynb_checkpoints/python-programming-checkpoint.png
practica/week3/.ipynb_checkpoints/K means clustering - hierarchical-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/K means clustering - met eigen dataset-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/regressie-intro-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/regressie-practicum-checkpoint.ipynb
practica/csv/.ipynb_checkpoints/marslander2-checkpoint.csv
practica/csv/.ipynb_checkpoints/persons-checkpoint.csv
practica/week3/.ipynb_checkpoints/pandas-demo-checkpoint.ipynb
practica/week3/.ipynb_checkpoints/pandas-demo-uitwerking-checkpoint.ipynb
practica/week3/Practicum/.ipynb_checkpoints/Oefenen-met-Pandas-checkpoint.ipynb
practica/week3/sql/chinook/.ipynb_checkpoints/chinook-checkpoint.md
practica/week3/sql/csv/.ipynb_checkpoints/countries_europe-checkpoint.csv
practica/week3/sql/csv/.ipynb_checkpoints/european_union-checkpoint.csv
practica/week3/sql/notebook/.ipynb_checkpoints/sql-checkpoint.ipynb
Project/code/.ipynb_checkpoints/1_data_verzamelen_oud_2-checkpoint.ipynb
Project/code/.ipynb_checkpoints/1_data_verzamelen_oud-checkpoint.ipynb
Project/code/.ipynb_checkpoints/1_data_verzamelen-checkpoint.ipynb
Project/code/.ipynb_checkpoints/hans-checkpoint.ipynb
Project/code/.ipynb_checkpoints/3_data_transformatie-checkpoint.ipynb
Project/code/.ipynb_checkpoints/pipeline_prototype_1-checkpoint.ipynb
practica/week4/.ipynb_checkpoints/Implementing-Pearson-correlation-checkpoint.ipynb
Project/code/.ipynb_checkpoints/4_EDA_1-checkpoint.ipynb
Project/code/.ipynb_checkpoints/pipeline_prototype_2-checkpoint.ipynb
.gitignore
.gitignore
Project/code/.ipynb_checkpoints/Project1_Initial_Analysis-checkpoint.ipynb
Project/code/.ipynb_checkpoints/5_Modelleren_extra-checkpoint.ipynb
